@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.2rem;
}
